*{
	margin: 0;
	font-family: sans-serif;
}
body{
	background-image: url(banner.jpg);
	background-size: cover;
	font-family: verdana;
	font-size: 20px;
	line-height: 24px;

}
.navbar{
	text-align: center;
	width: 100%;
	opacity: 0.5;

	
}
.navbar ul{
	background: blue;
	margin: 0;
	padding: 0;
	list-style: none;
	position: relative;
	float: center;
}
.navbar ul li a{
	display: block;
	padding: 15px;
	color: #fff;
	text-decoration: none;
	width: 150px;
}
.navbar ul:after{
	content: "";clear:both;
	display: block;
}
.navbar ul li{
	float: left;
	list-style: none;
}
.navbar ul ul{
	display:none; 
}
.navbar ul li:hover > ul{
	display: list-item;
}
.navbar ul li :hover{
	color: #FFD700;
	transition: 0.5s;

}
.navbar ul li :hover a{
	color: #FFD700;

}
.navbar ul ul{
	
	padding: 0;
	margin: 0;
	position: absolute;
	top: 100%;
}
.navbar ul ul li{
	float: none;
	position: relative;

}
.navbar ul ul li a{
	padding:15px;
	color: #fff;
	width: 150px;
	text-align: left; 
}
.navbar ul ul li a:hover{
	color: #000;
	transition: 0.5s;

}